[Unit]
Description=HamsterKombatBotService
After=network.target

[Service]
User=USER_PLACEHOLDER
WorkingDirectory=HOME_PLACEHOLDER/HamsterKombatBot/
Environment=PATH=HOME_PLACEHOLDER/HamsterKombatBot/venv/bin/
ExecStart=HOME_PLACEHOLDER/HamsterKombatBot/venv/bin/python3 HOME_PLACEHOLDER/HamsterKombatBot/main.py -a 2

Restart=always

[Install]
WantedBy=multi-user.target
